---
---

@import "{{ site.theme }}";

a {
  color: #e0994c;
}

blockquote {
  border-left: 3px solid #e0994c;
}

section #title h1 {
  font-family: "OpenSansLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 50px;
  text-align: center;
  line-height: 36px;
}

.selfie {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 3px solid rgb(24, 23, 23);
}
